body {
    font-family: arial;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.sign {
    min-height: 50px;
    max-height: 80px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
.tone, .ttwo, .tthree, .tfour, .tfive {
    background-color: gray;
}

.one {
    margin-bottom: 30px;
}

.two {
    margin-bottom: 30px;
}

.three {
    margin-bottom: 30px;
}

.five {
    margin-bottom: 30px;
}

.person1 {
    font-family: arial;
    margin-right: 50%;
} 

.person2 {
    font-family: arial;
    margin-left: 50%;
}

.tableborder {
    border-color: black;
}

.tabletrans {
    border-color: transparent;
}
